
.fullcard {
  display: flex;
  align-items: center;
  font-weight: normal;
  padding: 20px 0; 
}
.img-content {
  position: relative;
  margin-right: var(--gap-medium);
}

.image-detail {
  display: block;
  height: auto;
}

.info-content {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: space-around;
  gap: 64px;
}

.bookmark-detail {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.own-info {
  font-family: var(--font-family);
  max-width: 640px; 
  width: 100%; 
}

.own-info h2,
.overview h2 {
  font-family: var(--font-family);
  font-size: var(--font-size-large);
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  padding-bottom: var(--padding-small);
}

.author-detail-info {
  font-family: var(--font-family);
  padding: var(--padding-small) 0;
  font-size: var(--font-size-medium);
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: var(--color-gold);
}

.age {
  padding-bottom: var(--padding-small);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: var(--color-dark);
}

.overview {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  max-width: 480px; 
  width: 100%; 
}

.other-info {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}

.other-info p {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.other-info span {
  font-family: var(--font-family);
  color: var(--color-gold);
}

@media screen and (max-width: 992px) {
  .fullcard {
    padding: var(--padding-medium) 0;
    flex-direction: column;
    align-items: center;
  }

  .img-content {
    margin: 0;
  }

  .image-detail {
    max-height: 300px;
  }

  .info-content {
    padding:  10px;
  }
  .own-info h2,
  .overview h2 {
    font-size: var(--font-size-medium);
    line-height: 30px;
    padding-bottom: 0;
  }

  .author-detail-info {
    font-size: var(--font-size-small);
  }

  .age {
    font-size: var(--font-size-xsmall);
  }

  .overview {
    width: 100%;
    gap: 0;
  }
}

@media (max-width: 768px) {
  .fullcard {
    padding: var(--padding-small);
    flex-direction: column;
    align-items: center;
  }

  .image-detail {
    max-height: 300px;
  }

  .bookmark-detail {
    top: 5px;
    right: 5px;
  }
  .author-detail-info {
    font-size: var(--font-size-xsmall);
  }

  .age {
    font-size: var(--font-size-xsmall);
  }

  .overview {
    width: 100%;
  }

  .info-content {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .fullcard {
    padding: var(--padding-small);
    flex-direction: column;
    align-items: center;
  }

  .img-content {
    margin: 0;
  }

  .info-content {
    padding: 0 10px;
    width: 100%;
  }

  .overview {
    width: 100%;
    gap: 0;
  }
 
}