@import "../../constants/variables.css";

.title-box {
    max-width: 308px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.text {
  font-family: var(--font-family);

    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(224, 164, 73, 1);
    align-self: center;
}

.title {
  font-family: var(--font-family);

    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}