.search-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 72px;
  align-items: center;
  margin: 5% 0 1% 0;
  font-family: Lexend Deca;
  min-height: 424px;
}

.title-container {
  margin: 2% 0;
  width: 684px;
  height: 160px;
  top: 247px;
  left: 618px;
  gap: 0px;
  color: rgba(57, 57, 57, 1);
}
.main-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  color: rgba(57, 57, 57, 1);
}
.main-title span {
  color: rgba(241, 121, 0, 1);
}
.input-wrapper {
  width: 762px;
  height: 64px;
  top: 479px;
  left: 579px;
  padding: 16px;
  gap: 0px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  background: rgba(57, 57, 57, 0.05);
}
.input-wrapper input {
  border: none;
  background: none;
  width: 100%;
  padding-top: 25px;
  font-size: 14px;
  font-weight: 200;
}
.search-input:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}
.input-wrapper button {
  border: none;
  background: none;
}
.input-wrapper button:hover {
  cursor: pointer;
}
.sorting {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.result {
  min-height: 107px;
}
.sorting label {
  font-size: 16px;
  margin-right: 10px;
  color: rgba(57, 57, 57, 1);
}

.sorting select {
  border: none;
  background: rgba(57, 57, 57, 0.05);
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
}

.sorting select:hover {
  background: rgba(57, 57, 57, 0.1);
  transform: translateY(-2px); 
}

.sorting select:focus {
  outline: none;
  border: none;
}
@media (max-width: 820px) {
  .title-container, .input-wrapper {
    width: 90%; 
  }

  .main-title {
    font-size: 48px; 
    line-height: 60px;
  }
}
@media (max-width: 480px) {

  .main-title {
    font-size: 32px; 
    line-height: 40px;
  }

}