@import "../../constants/variables.css";

.mini-card-wrapper{
    width: 416px;
    height: 130px;
    gap: 16px;
    border: 1px;
    font-family: Inter;
    
  }
  .mini-card {
    box-sizing: border-box;
    display: flex;
    max-width: 416px;
    max-height: 130px;
    background-color:var(--color-white);
    align-items: center;
    padding: 25px 13px;
    position:relative;

  }
  .image {
    width: 80px;
    height: 80px;
  }
  .info {
    font-family: var(--font-family);

    overflow: hidden;
    padding: 0 16px;
    width: 100%;
  }
  
  h4 {
    font-family: Inter;


    font-size: 16px;
    font-weight: 400;
    line-height: 26.32px;
    letter-spacing: -0.03em;
  }
 

  .author {
    font-family: Inter;
    font-size: 14px;
    color:var(--color-gold);
    font-weight: 400;

  }
  p {
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    line-height: 26.32px;
    letter-spacing: -0.48px;
    text-align: left;
  }
  
  .bookmark-icon {
    width: 24px;
    height: 24px;
    margin-left: auto;
    cursor: pointer;
  }
  @media (max-width: 480px) {
    .mini-card-wrapper {
        width: 350px;
        height: auto;
    }

    .mini-card {
        padding: 15px 10px;
        max-width: 100%;
        max-height: auto;
    }

    .image {
        width: 70px;
        height: 70px;
    }

}
